@charset "utf-8";
* {
    box-sizing: border-box;
}

/****************** 
** フッター
******************/
.footer {
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
    background: url("img/kiyomizudera.jpg") center center / cover ;
}
.footer__inner {
    background-color: rgba(0, 0, 0, 0.5);
}
.footer-content__inner {
    margin:  0 auto;
    padding: 30px 10%; 
}
.footer__list {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 0 auto 60px;
}
.footer__item {
    letter-spacing: 0.2em;
    writing-mode: vertical-rl;
    text-align: left;
}
.footer__item::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-bottom: 15px;
}
.footer__item a {
    color: #fff;
}
.footer-img {
    margin-bottom: 60px;
}
.footer-txt__inner {
    display: flex;
    flex-direction: column;
}
.footer-txt__inner a {
    color: #fff;
}
.footer__txt-privacy {
    margin-bottom: 40px;
}
.footer__txt-law {
    margin-bottom: 80px;
}
@media screen and (min-width:768px) {
    .footer-content__inner {
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 60px;
        max-width: 420px;
    }
    .footer-txt__inner {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer__txt-privacy {
        margin-right: 25px;
    }
}
